<li class="dropdown" data-korisnik-menu>
    <a href="#">
        Korisnik
        <span class="glyphicon glyphicon-chevron-down"></span>
    </a>
    <ul class="dropdown-menu" role="menu">
        <li class="dropdown-header">O Zoo vrtu</li>
        <li class="divider" />
        <li><a href="/Korisnik/Dogadjaj">&nbsp;&nbsp;Dogadjaji</a></li>
        <li class="divider" />
        <li class="dropdown-header">Posetioci</li>
        <li class="divider" />
        <li><a href="/Korisnik/Rezervacija">&nbsp;&nbsp;Rezervacije</a></li>
    </ul>
</li>