@if (Request.IsAuthenticated && User.IsInRole("Radnik"))
{
<li class="dropdown" data-radnik-menu>
    <a href="#">
        Radnik
        <span class="glyphicon glyphicon-chevron-down"></span>
    </a>
    <ul class="dropdown-menu" role="menu">
        <li class="dropdown-header">O Zoo vrtu</li>
        <li class="divider" />
        <li><a href="/Radnik/Dogadjaj">&nbsp;&nbsp;Dogadjaji</a></li>
        <li><a href="/Radnik/Termin">&nbsp;&nbsp;Termini</a></li>
        <li class="divider" />
        <li class="dropdown-header">Posetioci</li>
        <li class="divider" />
        <li><a href="/Radnik/Rezervacija">&nbsp;&nbsp;Rezervacije</a></li>
        <li class="divider" />
        <li class="dropdown-header">Korisnici</li>
        <li class="divider" />
        <li><a href="/Account">&nbsp;&nbsp;Korisnici</a></li>

    </ul>
</li>
}