@{
    ViewBag.Title = "O nama - ";
}
<br />
<br />
<h1 align="center"><b>O nama</b></h1>

<hr />

<br />

<p align="center">
    <img src="~/Content/Slike/zoo-map.png" width="1024px"/>
</palign="center">

<br />
<br />
<hr />


<h3 align="center">
    <b>Istorijat Zoo Vrta</b>
</h3>

<br />
<p>
    Naš zoološki vrt je nastao 1936. godine, a svečano otvoren na Petrovdan – 12. jula.
    Osnovao ga je tadašnji gradonačelnik Vlada Ilić. Prvi stanovnici vrta su bili: lavovi, leopardi, beli i mrki medvedi, vukovi, makaki i mangabej majmuni,
    antilope, bivoli, zebui, mufloni, jeleni, srne, rode, ždralovi, paunovi, fazani, sove, pelikani i papagaji.
</p>

<br />
<hr />


<h3 align="center">
    <b>Kucni red</b>
</h3>
<br />
<div class="pageContents">
    <p>Zoološki vrt – pravila ponašanja</p>
    <p>Molimo posetioce da se pridržavaju sledećih pravila:</p>
    <p>1. Ne hranite životinje.</p>
    <p>2. Ne dodirujte životinje i ne prilazite im blizu.</p>
    <p>3. Ne udarajte u staklo da bi ste privukli pažnju životinjama ( to može biti vrlo uznemirujuće za životinje ).</p>
    <p>4. Ne unosite u vrt balone niti bilo koji drugi predmet potencijalno opasan za životinje.</p>
    <p>5. Ne ubacujte ništa u prostor u kome se nalaze životinje.</p>
    <p>6. Pratite uputstva osoblja vrta tamo gde je to neophodno.</p>
    <p>7. Ne uništavajte vegetaciju i drugu svojinu vrta, kao ni imovinu ostalih posetilaca.</p>
    <p>8. Ne krećite se vrtom pod dejstvom alkohola i narkotika.</p>
    <p>9. Roditelji su odgovorni za ponašanje dece u vrtu.</p>
    <p>10. Deca uzrasta do 15 godina moraju biti pod nadzorom roditelja ili druge odrasle osobe ( staratelja, nastavnika, vaspitača ).</p>
    <p>11. Prijavite bilo kakvo uznemiravanje &nbsp;ili nasilno ponašanje prema životinjama i ostalim posetiocima Vrta.</p>
    <p>12. Ne pišite po tablama u Vrtu.</p>
    <p>13. Ne upotrebljavajte u Vrtu koturaljke, skejtove, trotinete i sličnu sportsku opremu.</p>
    <p>14. U Vrt nije dozvoljeno uvoditi kućne ljubimce bilo koje vrste.</p>
    <p>15. Video i foto snimci napravljeni u Vrtu mogu se koristiti isključivo za ličnu/privatnu upotrebu. Za svaku drugu upotrebu potrebno je odobrenje Uprave Zoo-vrta.</p>
    <p>16. Zaposleni u Vrtu imaju pravo da kontrolišu ulaznice i na njihov zahtev posetilac je dužan da pokaže svoju ulaznicu.</p>
    <p>17. Kupovinom ulaznice prihvatate pravila ponašanja u Vrtu koja su vidno istaknuta.</p>
    <p>18. Uprava Zoološkog vrta zadržava pravo da posle više opomena zatraži da se posetilac koji ne poštuje pravila ponašanja udalji iz Vrta. Uprava Vrta ne prihvata nikakvu odgovornost za posledice nastale nepoštovanjem pravila ponašanja od strane posetilaca.</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
</div>
