@{
    ViewBag.Title = "Kontakt - ";
}

<br />
<br />

<h2><b>Kontakt</b></h2>

<br />
<hr />
<br />

<p>
<b>Adresa:</b> Naš Zoo Vrt 
11000 Beograd, Srbija
</p>

<p>
<b>Email:</b> <u>office@naszoovrt.rs</u>
</p>

<p>
<b>Telefon/faks:</b> 011 12 345 67
</p>

<p>
    <b>KONTAKTIRAJTE NAS</b>
</p>