@model ZooVrt.Entities.Dogadjaj

@{
    ViewBag.Title = "Details";
}

<br />
<h2><b>Detalji o dogadjaju</b></h2>
<br />

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Naziv
        </dt>

        <dd>
            @Html.DisplayFor(model => model.naziv)
        </dd>

        <dt>
            Datum
        </dt>

        <dd>
            @Html.DisplayFor(model => model.datum)
        </dd>

        <dt>
            Cena karte
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cenaKarte)
        </dd>

    </dl>
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.dogadjajId }) |*@
    @Html.Partial("_BackToListButtonPartial")
</p>
